<header id="top-header">
  <a class="brand" href="/">CSE Motors</a>
  <!-- UPDATE: point to /account/login so it hits the new route -->
  <a class="account" href="/account/login">My Account</a>
</header>
