<main id="inv-detail" class="inv-detail">
    <!-- keeping this header for screen readers -->
    <header class="sr-only">
      <h1><%= title %></h1>
    </header>
  
    <!-- built HTML in utilities.buildVehicleDetail and I want it rendered as real HTML -->
    <%- vehicleHTML %>
  </main>
  